body{
    height: 100vh; /* Ensure body has a height */
    font-family: 'Arial', sans-serif;
    background-color: #ede0d4 !important;
    color: #333;
}

.navbar{
    background-color: #9c6644 !important;
    border-bottom: 1px solid #e9ecef;
    color : #ede0d4;
}


.btn{
    background-color: #ede0d4 !important;
    color: #9c6644 !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loyalty-container {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #9c6644 !important;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
    color: #9c6644 !important;
}
input[type="text"] , input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #9c6644;
    font-size: 14px;
}
input[readonly] {
    background: #f9f9f9;
}

button {
    background-color: #9c6644 !important;
    color: #ede0d4;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease;
    margin: 5px;
}
button:hover {
    background: #b08968 !important;
}
#message {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: red;
}
.buttons {
    text-align: center;
    margin-top: 15px;
}
.buttons button {
    width: 30%;
}
.selected {
    background: #b08968 !important;
    color: #ede0d4;
}