*{
    font-family: 'poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body{
    background-color: #ede0d4 !important;
}

nav{
    background-color: #ddb892 !important;
}

nav *{
    color: #7f5539 !important;
    font-weight: bold;
    font-family: 'poppins', sans-serif;
    letter-spacing: 1px;
}


header>p{
    font-size: 16px;
    color: #ddb892;
    background-color: #7f5539;
    text-align: center;
    padding: 15px 0;
    letter-spacing: 2px;
    margin-bottom: 0px;
}


header{
    width: 100%;
}

.product-review-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ede0d4;
    justify-content: space-between;

    height: 100vh;
}

.product-review-container {
    max-width: 600px;
    margin: 0 auto;
    background: #e6ccb2;
    color : #7f5539;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    text-align: center;
    font-weight: 600 !important;
    color: #333;
}
.form-group {
    margin-bottom: 20px;
}
label {
    font-size: 16px;
    color : #7f5539;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
select, textarea, input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}
textarea {
    resize: vertical;
    height: 100px;
}
button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: #9c6644;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #7f5539;
}

.container{
    min-width: 100% !important;
    background-color: #1b1b1b;
    margin-top: 50px !important;
}

.container footer {
    min-width: 100% !important;
    background-color: #1b1b1b;

}

.container p, footer .nav-item a{
    color: #f8f9fa !important;
}

@media (max-width: 768px){
    header>p{
        font-size: 10px;
    }
}
